<div class="container">
    <form (submit)="search()" class="search">
        <div class="form-group position-relative">
            <div class="input-group">
                <input type="text"
                       name="searchTerm"
                       class="form-control"
                       [(ngModel)]="searchTerm"
                       (ngModelChange)="error = null"
                       placeholder="Type to filter; submit to search by ID"
                >
                <div class="input-group-append">
                    <span class="input-group-text" (click)="search()">
                        <fa-icon [icon]="searchIcon"></fa-icon>
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="error" class="error">
            <fa-icon [icon]="errorIcon"></fa-icon>
            {{ error }}
        </div>
    </form>

    <div *ngFor="let shnippit of getFilteredShnippits()" class="shnippit">
        <a [routerLink]="'/' + shnippit.publicId">
            <div class="text">{{ shnippit.text }}</div>
        </a>
        <div class="row">
            <a [routerLink]="'/' + shnippit.publicId">
                <div class="publicid">{{ shnippit.publicId }}</div>
            </a>
            <div>
                <span class="type">
                    <fa-icon [icon]="typeIcon"></fa-icon>
                    {{ shnippit.type }}
                </span>

                <button (click)="openModal(shnippit)" class="btn btn-outline-primary btn-floating">
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>
