.wrapper {
    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
}

@media only screen and (max-height: 200px) {
    header {
        display: none;
    }
}

header {
    font-size: 1.8rem;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.077em;
    cursor: pointer;
}

main {
    flex: 1;
}
