<div class="btn-row">
    <button class="btn btn-outline-primary btn-floating" (click)="openOptions(content)">
        <fa-icon [icon]="optionsIcon"></fa-icon>
    </button>

    <button *ngIf="editable" class="btn btn-primary btn-floating big" (click)="save()">
        <fa-icon [icon]="saveIcon"></fa-icon>
    </button>
    <button *ngIf="!editable" class="btn btn-primary btn-floating big" (click)="toggleEdit()">
        <fa-icon [icon]="editIcon"></fa-icon>
    </button>
</div>

<textarea *ngIf="editable"
          [ngModel]="shnippit?.text"
          (ngModelChange)="setText($event)"
          placeholder="Enter your text ..."
          spellcheck="false"
          (keydown)="handleKeyDown($event)">
</textarea>

<div class="shnippit-readonly" *ngIf="!editable" markdown [data]="shnippit?.text" ></div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Shnippit options</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label>Type</label>
                <div class="input-group">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="shnippitType" ngbDropdownToggle [disabled]="!editable">{{ shnippit?.type }}</button>
                        <div ngbDropdownMenu aria-labelledby="shnippitType">
                            <button ngbDropdownItem [class.selected]="shnippit?.type == 'RAW'" (click)="setType('RAW')">Raw</button>
                            <button ngbDropdownItem [class.selected]="shnippit?.type == 'HTML'" (click)="setType('HTML')">HTML</button>
                            <button ngbDropdownItem [class.selected]="shnippit?.type == 'JSON'" (click)="setType('JSON')">JSON</button>
                            <button ngbDropdownItem [class.selected]="shnippit?.type == 'XML'" (click)="setType('XML')">XML</button>
                            <button ngbDropdownItem [class.selected]="shnippit?.type == 'MARKDOWN'" (click)="setType('MARKDOWN')">Markdown</button>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="form-group">-->
<!--                <label for="dateOfBirth">Date of birth</label>-->
<!--                <div class="input-group">-->
<!--                    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">-->
<!--                    <div class="input-group-append">-->
<!--                        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modal.close(editable)">
            <fa-icon [icon]="editable ? saveIcon : closeIcon"></fa-icon>
            {{ editable ? 'Save' : 'Close' }}
        </button>
    </div>
</ng-template>
