<div class="ctrl-row">
    <div class="messages">
        <div *ngIf="error" class="error-message">
            <fa-icon [icon]="errorIcon"></fa-icon>
            {{ error.message }}:
            <b *ngIf="error.additionalMessage">{{ error.additionalMessage }}</b>
        </div>
        <div *ngIf="successMessage" class="success-message" [ngClass]="{'inverse': editable}">
            <fa-icon [icon]="successIcon"></fa-icon>
            {{ successMessage }}
        </div>
    </div>

    <div class="btn-row-vertical" [ngClass]="{'out': displayMoreOptions}">
        <button *ngIf="!editable && canShare()" class="btn btn-outline-primary btn-floating" (click)="share()" [ngClass]="{'btn-inverse': editable}">
            <fa-icon [icon]="shareIcon"></fa-icon>
        </button>
        <button *ngIf="shnippit?.publicId" class="btn btn-outline-primary btn-floating" (click)="openDialog(attachmentsDialog)" [ngClass]="{'btn-inverse': editable}">
            <fa-icon [icon]="attachmentsIcon"></fa-icon>
        </button>
        <button class="btn btn-outline-primary btn-floating" (click)="copyToClipBoard()" [ngClass]="{'btn-inverse': editable}">
            <fa-icon [icon]="copyToClipBoardIcon"></fa-icon>
        </button>
        <button class="btn btn-outline-primary btn-floating" (click)="openDialog(typeDialog)" [ngClass]="{'btn-inverse': editable}">
            <fa-icon [icon]="typeIcon"></fa-icon>
        </button>
    </div>

    <div class="btn-row">
        <button class="name btn btn-outline-primary btn-floating" (blur)="closeDisplayMoreOptions()" (click)="toggleDisplayMoreOptions()" [ngClass]="{'btn-inverse': editable || displayMoreOptions}">
            {{ shnippit?.publicId }}
            <fa-icon *ngIf="!shnippit?.publicId" [icon]="moreIcon"></fa-icon>
        </button>

        <button *ngIf="editable" class="push btn btn-outline-primary btn-floating" (click)="cancel()" [ngClass]="{'btn-inverse': editable}">
            <fa-icon [icon]="cancelIcon"></fa-icon>
        </button>
        <button *ngIf="!editable" class="push btn btn-outline-primary btn-floating" (click)="new()" [ngClass]="{'btn-inverse': editable}">
            <fa-icon [icon]="newIcon"></fa-icon>
        </button>

        <button *ngIf="editable" class="btn btn-primary btn-floating big" (click)="save()" [disabled]="!hasChanged" [ngClass]="{'btn-inverse': editable}">
            <fa-icon [icon]="saveIcon"></fa-icon>
        </button>
        <button *ngIf="!editable" class="btn btn-primary btn-floating big" (click)="toggleEdit()" [ngClass]="{'btn-inverse': editable}">
            <fa-icon [icon]="editIcon"></fa-icon>
        </button>
    </div>
</div>

<textarea #textArea
          *ngIf="editable"
          [ngModel]="shnippit?.text"
          (ngModelChange)="setText($event)"
          placeholder="Enter your text ..."
          spellcheck="false"
          (keydown)="handleKeyDown($event)"
          autofocus>
</textarea>

<div class="shnippit-readonly" *ngIf="!editable" markdown [data]="shnippit?.text" ></div>

<ng-template #typeDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <fa-icon [icon]="typeIcon"></fa-icon>
            Type
        </h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary select" id="shnippitType" ngbDropdownToggle [disabled]="!editable">{{ shnippit?.type }}</button>
                        <div ngbDropdownMenu aria-labelledby="shnippitType">
                            <button ngbDropdownItem [class.selected]="shnippit?.type == 'RAW'" (click)="setType('RAW')">Raw</button>
                            <button ngbDropdownItem [class.selected]="shnippit?.type == 'HTML'" (click)="setType('HTML')">HTML</button>
                            <button ngbDropdownItem [class.selected]="shnippit?.type == 'JSON'" (click)="setType('JSON')">JSON</button>
                            <button ngbDropdownItem [class.selected]="shnippit?.type == 'XML'" (click)="setType('XML')">XML</button>
                            <button ngbDropdownItem [class.selected]="shnippit?.type == 'MARKDOWN'" (click)="setType('MARKDOWN')">Markdown</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="form-group">-->
            <!--                <label for="validUntil">Valid until</label>-->
            <!--                <div class="input-group">-->
            <!--                    <input id="validUntil"-->
            <!--                           [disabled]="!editable"-->
            <!--                           [(ngModel)]="validUntil"-->
            <!--                           class="form-control"-->
            <!--                           (focus)="dp.toggle()"-->
            <!--                           placeholder="yyyy-mm-dd"-->
            <!--                           name="dp"-->
            <!--                           ngbDatepicker-->
            <!--                           #dp="ngbDatepicker">-->
            <!--                </div>-->
            <!--            </div>-->
        </form>
    </div>
    <div class="modal-footer">
        <button *ngIf="editable && shnippit.publicId" type="button" class="btn btn-outline-primary" (click)="modal.close(editable)">
            <fa-icon [icon]="saveIcon"></fa-icon>
            Save
        </button>
        <button type="button" class="btn btn-outline-primary" (click)="modal.close(false)">
            <fa-icon [icon]="closeIcon"></fa-icon>
            Close
        </button>
    </div>
</ng-template>


<ng-template #attachmentsDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <fa-icon [icon]="attachmentsIcon"></fa-icon>
            Attachments
        </h4>
    </div>
    <div class="modal-body">
        <div *ngIf="attachments && attachments.length">
            <table class="attachments">
                <tr *ngFor="let attachment of attachments">
                    <td class="filename">
                        <a [href]="attachmentLink(shnippit, attachment)">
                            {{ attachment.name }}
                        </a>
                    </td>
                    <td>
                        <b>({{ attachment.size | filesize }})</b>
                    </td>
                    <td>
                        <button class="btn btn-outline-primary" (click)="deleteAttachment(shnippit, attachment)">
                            <fa-icon [icon]="deleteIcon"></fa-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="!(attachments && attachments.length)" class="attachment">
            No attachments found
        </div>
        <form>
            <div class="form-group">
                <div class="input-group">
                    <angular-file-uploader
                        [config]="fileUploaderConfig()"
                        (ApiResponse)="loadAttachments(shnippit?.publicId)">
                    </angular-file-uploader>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modal.close(false)">
            OK
        </button>
    </div>
</ng-template>
