@import 'src/colors';

$theme-colors: (
    "primary": $light-green,
    "secondary": $dark-green
);

@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: Mono;
    src: url(src/assets/fonts/RobotoMono-Regular.ttf) format("truetype");
}

html, body {
    height: 100%;
    line-height: normal !important;
}

body, .modal-content, input, .form-control {
    background: $dark-green !important;
    color: $light-green !important;
}
textarea {
    background: $light-green;
    color: $dark-green;
}

.error-message {
    color: $red;
}
.success-message {
    color: $light-green;

    &.inverse {
        color: $dark-green;
    }
}

// Couldn't get this to work in shnippit-board.component.scss
.shnippit-readonly a {
    text-decoration: underline !important;
}

.form-control {
    border-color: $light-green;
    border-width: 2px;
}
.btn-primary {
    color: $dark-green;
}

.btn.btn-primary {
    &.btn-inverse {
        @include button-variant($dark-green, $dark-green);
        color: $light-green !important;
        &:hover {
            @include button-variant(darken($dark-green, 5), darken($dark-green, 5));
        }
    }
}

.btn {
    border-width: 2px;
    &.btn-inverse {
        @include button-variant($light-green, $dark-green);
        color: $dark-green !important;
        &:hover {
            @include button-variant($dark-green, $dark-green);
            color: $light-green !important;
        }
    }
}

.dropdown-menu, .dropdown-item {
    background: $dark-green;
    color: $light-green;
}

.dropdown-item:hover,
.dropdown-item.selected{
    background: $light-green;
    color: $dark-green;
}

// Modals

.modal-content * {
    letter-spacing: -0.06rem !important;
}


.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}


.afu-dragndrop-text {
    color: $light-green !important;
}
.afu-dragndrop-box {
    border-color: $light-green !important;
}
angular-file-uploader,
.afu-dragndrop-box {
    width: 100% !important;
    margin: 10px 0 -10px
}
.afu-select-btn,
.afu-reset-btn,
.afu-upload-btn {
    color: $light-green !important;
    border: 2px solid $light-green !important;
    background: $dark-green !important;
    font-size: 1rem !important;
    padding: 0.375rem 0.75rem !important;

    &:hover:not([disabled]) {
        color: $dark-green !important;
        background: $light-green !important;
    }
}
.afu-constraints-info {
    display: none;
}
.afu-valid-file,
.afu-invalid-file {
    margin: 0;

    &.row {
        flex-wrap: initial !important;
    }
}
.afu-upload-status {
    display: none;
}
.afu-progress-bar {
    border: 2px solid $light-green;
    background: $dark-green;
    flex: auto;

    & .progress-bar {
        color: $dark-green;
    }
}
